


<div class="container">
<div class="ui comments" id="com" >

  <form class="ui reply form">
    <a class="author"><p [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
      <a [routerLink]="['/userprofile', this.comment.username]">by {{comment.username}}</a>
    </p></a>

    <div class="field">
      <textarea style="font-size: small">{{comment.text}}</textarea>
    </div>

  </form>
  <div class="comment">
    <div class="content">
      <div class="metadata">
        <span class="date"><p>{{getTimestamp()}}</p></span>
      </div>


    </div>
  </div>

</div>

</div>
