.fa-smile {
  color: green;
}

.fa-smile:hover {
  color: darkgreen;
}

.fa-meh {
  color: #cbcb00;
}

.fa-meh:hover {
  color: #a0a000;
}

.fa-frown {
  color: red;
}

.fa-frown:hover {
  color: darkred;
}

.disabled-icon {
  color: gray;
}

.disabled-icon:hover {
  color: darkslategray;
}
