.link-cursor{
  cursor: pointer;
  user-select: none;
}

.custom-dropdown{
  margin-left:5px;
  color:white;
  background-color:#337ab7!important;
}

.custom-dropdown:hover{
  color:black;
  background-color:white!important;
}