.navbar-default{
  background-color: #343d46;
  height:50px;
  border-radius:0px!important;
  border-color:black;
}

#GJ{
  font-family:Lobster!important;
}

#BETA{
  font-family: 'Fjalla One', sans-serif;
  font-size:18px;
}

.navbarlink:hover{
  width:auto;
  height:auto;
  background-color:#337ab7!important;
  color:white!important;
}

.navbar-left {
  width: 250px;
}
