
<h2 class="col-md-offset-2">Videos</h2>
<div class="btn-group btn-group-xs col-md-offset-2" role="group">
  <button class="btn btn-group-xs btn-primary" (click)="toggleByRating()" [disabled]="byRating"> by Rating </button>
  <button class="btn btn-group-xs btn-primary" (click)="toggleByRating()" [disabled]="!byRating"> by Date </button>
   <button class="btn btn-group-xs btn-primary" (click)="toggleByRating(3)" [disabled]="following"> following </button>
</div>
<div align="center">
  <app-video-feed [query]="query" [currentUser]="currentUser"></app-video-feed>
</div>