.btn-success{
  position: relative;
  float: left;
  padding-left: 10px;
  display: inline;
  margin:11px
}
.btn-primary{
  position: relative;
  float: left;
  margin: 11px;
}

.btn-warning{
  position: relative;
  float: left;
  margin: 11px;
}
.btn-danger{
  position: relative;
  float: left;
  margin: 11px;
}
.badge{
  width: 27%;
}
