<h2 class="page-header">Register</h2>
<div *ngIf="isDataAvailable">
  <form [formGroup]="registerForm" autocomplete="off" novalidate>

    <!-- NAME -->
    <div class="form-field">
      <label>Name</label>
      <input (focusout)="setTouchedName()" type="text" formControlName="name" class="form-control" [(ngModel)]="name" name="name">
      <div [hidden]="isNameValid() || !isTouched.name" class="alert alert-danger">
        Name must be between 4-25 characters long and must contain only letters and '-'.
      </div>
    </div>


    <!-- USERNAME -->
    <div class="form-field">
      <label>Username</label>
      <input (focusout)="setTouchedUsername()" type="text" formControlName="username" [(ngModel)]="username" name="username" class="form-control">
      <div [hidden]="isUsernameValid() || !isTouched.username" class="alert alert-danger">
        Username must be between 4-25 characters long.
      </div>
    </div>


    <div class="form-field">
      <label>Email:</label>
      <input (focusout)="setTouchedEmail()" formControlName="email" type="email" class="form-control" [(ngModel)]="email" name="newEmail">
      <div [hidden]="isEmailValid() || !isTouched.email" class=" alert alert-danger ">
        Make sure you enter a valid e-mail address.
      </div>
    </div>
    <div class="form-field">
      <label>Confirm e-mail:</label>
      <input (focusout)="setTouchedConfEmail()" formControlName="c_email" type="email" class="form-control" [(ngModel)]="confEmail" name="confEmail">
      <div [hidden]="checkEmail() || !isTouched.confEmail" class=" alert alert-danger ">
        The emails don't match.
      </div>
    </div>

    <div class="form-field">
      <label>Password:</label>
      <input (focusout)="setTouchedPassword()" formControlName="pass" type="password" class="form-control" [(ngModel)]="password" name="password">
      <div [hidden]=" isPasswordValid() || !isTouched.password" class=" alert alert-danger ">
        Your password must be between 5-15 characters long.
      </div>
    </div>

    <div class="form-field">
      <label>Confirm password:</label>
      <input (focusout)="setTouchedConfPassword()" formControlName="c_pass" type="password" class="form-control" [(ngModel)]="confPassword" name="confPassword">
      <div [hidden]="checkPassword() ||  !isTouched.confPassword" class=" alert alert-danger ">
        The passwords don't match.
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="!registerForm.valid" (click)="onRegisterSubmit()">Save</button>
  </form>
  <br>
</div>