 <div id="containerVideo" class="jumbotron responsive">
    <h3>{{this.data.title}}</h3>
    <p [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a [routerLink]="['/userprofile', this.data.username]">by {{this.data.username}}</a>
    </p>

    <iframe width="560" height="315" [src]='getCode' frameborder="0" allowfullscreen>
    </iframe>
      <!--<video width="560" height="315" src='https://www.youtube.com/watch?v=k2bOl_x1dXM' controlsList='nodownload' html5=True></video>!
    <object [data]="getCode"
   width="560" height="315"></object>-->
        <div id="vR" class="voteraiting responsive" role="group">
                <div>
                  <div id="raiting">Rating:{{this.data.rating}}</div>
                  <div class="btn-group" id="votingButtons">
                    <button type="button" (click)="addRateAndButtons($event)" onclick="schimba()" class="ui primary button">~GJ~</button>
                    <button type="button" (click)="addRateAndButtons($event)" onclick="schimba()" class="ui primary button">Cool</button>     <!-- doua clase btn-primary si btn-warning !!!-->
                    <button type="button" (click)="addRateAndButtons($event)" onclick="schimba()" class="ui primary button">Meh</button>

                  </div>
                </div>


        </div>




<div class="responsive">


 <div class="ui comments">
   <h3 class="ui dividing header">Comments</h3>
   <app-comment-feed [videoId]="data._id"></app-comment-feed>
   <form class="ui reply form">

     <div class="ui blue labeled submit icon button" *ngIf="!isPostComment" type="button" (click)="postComment()" id="commentB">Comment
       <i class="icon edit"></i>
     </div>
       <div *ngIf="isPostComment">
         <app-comment-submit [videoId]="data._id" [user]="user"></app-comment-submit>
         <button class="ui red button" type="button" (click)="cancelComment()">Cancel</button>
       </div>

   </form>
</div>
</div>
