<div id="containerVideo" class="jumbotron">
    <h3>{{this.data.title}}</h3>
    <p [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a [routerLink]="['/userprofile', this.data.username]">by {{this.data.username}}</a>
    </p>

    <iframe width="560" height="315" [src]='getCode' frameborder="0" allowfullscreen>
    </iframe>
    <!--<video width="560" height="315" src='https://www.youtube.com/watch?v=k2bOl_x1dXM' controlsList='nodownload' html5=True></video>!
    <object [data]="getCode"
   width="560" height="315"></object>-->

    <div id="vR" class="voteraiting" role="group">
      <div id="VRD">
      <p id="descriere">{{this.data.description}}</p>
            <p id="raiting" class="leftF">Rating:{{this.data.rating}}</p>
            <button (onclick)="addButtons($event)" id="voteB" type="submit" class="btn btn-md btn-primary leftF">Vote</button>
      </div>
      <div class="btn-group" id="votingButtons">
        <button type="button" (click)="addRateAndButtons($event)" class="btn btn-primary">~GJ~</button>
        <button type="button" (click)="addRateAndButtons($event)" class="btn btn-primary">Cool</button>     <!-- doua clase btn-primary si btn-warning !!!-->
        <button type="button" (click)="addRateAndButtons($event)" class="btn btn-primary">Meh</button>

      </div>


    </div>



<!--
    <div class="btn-group btn-group-lg" role="group" id="raitingB">
    <button id="gj"  (click)="rate($event)" type="button" class="btn btn-success"> GJ! </button>
    <button id="cool" (click)="rate($event)" type="button" class="btn btn-warning"> Cool </button>
    <button id="meh" (click)="rate($event)" type="button" class="btn btn-danger"> Meh </button>
      <button type="button" class="btn btn-primary" >
        <span class="glyphicon glyphicon-star" aria-hidden="true" ></span> Star
      </button>
    </div>
-->


<app-comment-feed [videoId]="data._id"></app-comment-feed>

<!--  POST COMMENT  -->
<div>

<button *ngIf="!isPostComment" type="button" (click)="postComment()">Comment</button>
<div *ngIf="isPostComment">
    <app-comment-submit [videoId]="data._id" [user]="user"></app-comment-submit>
    <button type="button" (click)="cancelComment()">Cancel</button>
</div>

</div>
</div>
