<div id="containerVideo" class="jumbotron">
    <h3>{{this.data.title}}</h3>
    <p [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a [routerLink]="['/userprofile', this.data.username]">by {{this.data.username}}</a>
    </p>

    <iframe width="560" height="315" [src]='getCode' frameborder="0" allowfullscreen>
    </iframe>
    <!--<video width="560" height="315" src='https://www.youtube.com/watch?v=k2bOl_x1dXM' controlsList='nodownload' html5=True></video>!
    <object [data]="getCode"
   width="560" height="315"></object>-->
    <p>{{this.data.description}}</p>
    <p>Rating:{{this.data.rating}}</p>
   

    <div class="btn-group btn-group-lg" role="group" id="raitingB">
    <button id="gj"  (click)="rate($event)" type="button" class="btn btn-success"> GJ! </button>
    <button id="cool" (click)="rate($event)" type="button" class="btn btn-warning"> Cool </button>
    <button id="meh" (click)="rate($event)" type="button" class="btn btn-danger"> Meh </button>
    </div>



<app-comment-feed [videoId]="data._id"></app-comment-feed>

<!--  POST COMMENT  -->
<div>

<button *ngIf="!isPostComment" type="button" (click)="postComment()">Comment</button>
<div *ngIf="isPostComment">
    <app-comment-submit [videoId]="data._id" [user]="user"></app-comment-submit>
    <button type="button" (click)="cancelComment()">Cancel</button>
</div>

</div>
</div>
