#raiting{
  margin-top: 5px;
  float: left;
  display: inline-block;
  margin-left: 10px;
  color:white!important;
}
#votingButtons{
  margin-top: 5px;
  display:inline-block;
  float:right;
  margin-right: 10px;
}

.desc {
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #cacaca;
  margin-top: 2%;
}

.desc-p {
  text-align: left;
  color: #3a3939;
  margin-top: 10px;
  font-size: 1em;
}

.rating {
  font-size: 1.2em;
  color: #2f5bbf;
  margin-left: 5px;
  font-weight: bold;
}

.fa-smile {
  color: green;
}

.fa-smile:hover {
  color: darkgreen;
}

.fa-meh {
  color: #cbcb00;
}

.fa-meh:hover {
  color: #a0a000;
}

.fa-frown, .fa-trash-alt {
  color: red;
}

.fa-frown:hover, .fa-trash-alt:hover  {
  color: darkred;
}

.disabled-icon {
  color: gray;
}

.disabled-icon:hover {
  color: darkslategray;
}

#vR{
  background-color: #498cc6;
  height:auto;
  margin-left:0px;
  margin-right:0px;
}
#voteB{
  float:right;
  padding-right: 10px;
  margin-right: 6px;
}


.cancelCustom{
  margin-top:10px;
}

#containerVideo{
  width:63%;
  background-color:white;
  border-radius:0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#containerVideo:hover{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#raitingB{
  position:relative;
  left:35%;
}

.voteraiting{
  height: 20px;
  background-color: #858585;
}
#descriere{
  margin-left: 10px;
  position: relative;
  font-size: 15px;
}

.description{
  margin:5px;
  font-size: 15px;
  word-break:keep-all;
  color:white;
  font-family: 'Quicksand', sans-serif;
}

#VRD{
  padding-left: 10px;
}


.text-left-align{
  text-align: left;
}
.link-cursor{
  cursor: pointer;
}




/*
.class1{
  padding-left: 0px;
  margin:0 auto;
  color: white;
  width:50px;
  height: 30px;
  border-radius: 4px;
  background-color: #003399;
}
.class2{

}
*/
.comment-btn{
  margin-top:2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
