<div >

</div>
<div class="container">

  <div *ngIf="feed && feed.length>0" class="row">
    <div *ngFor="let video of feed" style="text-align: center;">
      <app-video [video]="video"></app-video>
    </div>
  </div>


 <div class="row" style="text-align: center;">
   <div *ngIf="feed && feed.length>0" style="margin: auto">
     <app-pagination [count]="count" (selection)="requestItems($event)"></app-pagination>
   </div>
   <div *ngIf="feed && feed.length==0" style="margin: auto">
      <h3 style="color: gray">No results</h3>
   </div>
 </div>


</div>

