:host input{
     width: 300px;
  height: 50px;
  background:whitesmoke;
  border: none;
  font-size: 10pt;
  float: left;
  color: grey;
  padding-left: 2px;
  z-index:0;
  float:left;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}

:host placeholder{
     color: grey;
}

:host{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

:host .icon{
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: grey;
  background-color:darkgrey;
  float:left;
  width:50px;
  height:100%;
}

:host .separator{
    border-left:1px solid #38546d; 
     border-right:1px solid #16222c; 
     height:80px;
     position:absolute;
     right:249px;
     top:10px; 
}

:host .container{
    max-width:200px;
    max-height:50px;
}